python-dotenv
pandas
nltk
rouge_score
sacrebleu
unbabel-comet>=2.0.0
torch
huggingface
transformers
bleurt-pytorch
evaluate
bert_score
datasets
ollama
IPython
langchain
langchain_ollama
langchain_core
langchain-community
langchain-ollama
langchain-core
langchain-experimental
langchain-openai
langgraph
langchainhub
langgraph
openai
IPython
#pip list --format=freeze --not-required > requirements.txt