python-dotenv
pandas
nltk
rouge_score
sacrebleu
unbabel-comet>=2.0.0
torch
huggingface
transformers
bleurt-pytorch
evaluate
bert_score
datasets
IPython
langchain
langchain_core
langchain-community
langchain-experimental
langchain-ollama
langchain-openai
langchain_groq
langchain_anthropic
langgraph
langchainhub
#pip list --format=freeze --not-required > requirements.txt